<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.inno3app">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".delivery_location"
                android:label="สถานที่จัดส่ง"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".history_order"
                android:label="ประวัติการสั่งซื้อ"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".confirm_order"
                android:label="ยืนยันการสั้งซื้อ"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Credit"
                android:label="เครดิต"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Payment"
                android:label="ชำระเงิน"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:label="สมัครสมาชิก"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Usernamre"
                android:label="@string/title_activity_usernamre"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".login">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".HomeActivity"
                android:label="หน้าแรก"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>